{% extends "base.html" %}

{% block next_prev %}
{% endblock next_prev %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.0/css/ol.css" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.5.0/src/ol-layerswitcher.css" />

<div id="map"></div>

{% endblock %}

{% block footer %}
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.0/build/ol.js"></script>
<script src="https://unpkg.com/ol-layerswitcher@3.5.0"></script>
<!-- <script src="/_static/map_openlayers.1.js"></script> -->
<script>

function Init(){
  // workaround to force map_div to be kinda 100% ish
  var h = window.innerHeight - 70;
  document.getElementById('map').setAttribute("style","height: " + h + "px; width: 100%;");
  setup_openlayers_map();
}

window.onload = Init;
</script>

{% endblock %}
