{% extends "base.html" %}



{% block content %}


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

<div class="note">NOTE: Map might take a few long moments to load (32MB+) and something being worked on.</div>
<div id="map_div"></div>

{% endblock %}




{% block footer %}


 <!-- Make sure you put this AFTER Leaflet's CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="/_static/map.2.js"></script>


<script>

function Init(){
  // workaround to force map_div to be kinda 100% ish
  var h = window.innerHeight - 70;

  document.getElementById('map_div').setAttribute("style","height: " + h + "px");
  SetupMegaMap();
}

window.onload = Init;

</script>



{% endblock %}