body {
  font-size: 1em;
}

#map {
  width: 100%;
  height: 600px; }

.note {
  background-color: #FFF4B4;
  padding: 4px; }

h1 {
  font-size: 170%;
  color: #333333; }

h2 {
  font-size: 140%;
  border-bottom: 1px solid #dddddd;
  margin-top: 25px;
  color: #666666; }

table {
  font-size: 80%; }
  table thead {
    background-color: #444444;
    color: #dddddd; }
